version: "3.9"

services:
  bot:
    container_name: valentotbot
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - pgv
      - rdv
    # ports:
    #   - "8080:8080"
    restart: unless-stopped
    networks:
      - default


  pgv:
    image: postgres:15-alpine
    container_name: pgv
    env_file:
      - .env
    # ports:
    #   - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - default


  rdv:
    image: redis:7-alpine
    container_name: rdv
    # ports:
    #   - "6379:6379"
    restart: unless-stopped
    networks:
      - default


volumes:
  postgres-data:

networks:
  default:
    name: intranet
    external: true